@page
@using Microsoft.Extensions.Localization;
@using Volo.CmsKit.Localization;
@using X.Abp.CmsKit.Pro.Public.Web.Pages.Public;
@model X.Abp.CmsKit.Pro.Public.Web.Pages.Public.IndexModel
@inject IStringLocalizer<CmsKitResource> L
@{
}

@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/client-proxies/cms-kit-pro-common-proxy.js" />
    </abp-script-bundle>
}

<h1>Public</h1>
<p>SamplePageMessage</p>
