<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Define the package sources, nuget.org and contoso.com. -->
    <!-- `clear` ensures no additional sources are inherited from another config file. -->
    <packageSources>
        <clear />
        <!-- `key` can be any identifier for your source. -->
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <!--<add key="nexus" value="http://127.0.0.1:8081/repository/nuget-group/index.json" />-->
        <add key="Github" value="https://api.nuget.pkg.github.com/ArcherTrister" />
    </packageSources>

    <!-- Define mappings by adding package patterns beneath the target source. -->
    <!-- Contoso.* packages and NuGet.Common will be restored from contoso.com,
       everything else from nuget.org. -->
    <packageSourceMapping>
        <!--<packageSource key="nexus">
            <package pattern="X.Abp.*" />
        </packageSource>-->
        <packageSource key="Github">
            <package pattern="IdentityServer4" />
            <package pattern="IdentityServer4.*" />
        </packageSource>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="NuGet">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>

    <packageSourceCredentials>
        <!--<nexus>
            <add key="Username" value="admin" />
            <add key="ClearTextPassword" value="123456" />
            <add key="ValidAuthenticationTypes" value="basic" />
        </nexus>-->
    </packageSourceCredentials>
</configuration>
