<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="ABP Commercial NuGet Source"
    value="https://nuget.abp.io/025431bb-9c64-4a0c-9dbe-50d242c281b1/v3/index.json" /> -->
    <add key="nexus" value="http://127.0.0.1:8081/repository/xabp/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <nexus>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="Lx45683968.." />
      <add key="ValidAuthenticationTypes" value="basic" />
    </nexus>
  </packageSourceCredentials>
</configuration>
