<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear />
	<add key="nexus" value="http://localhost:8081/repository/nuget-group/index.json" />
  </packageSources>

  <packageSourceCredentials>
	<nexus>
		<add key="Username" value="admin" />
		<add key="ClearTextPassword" value="Lx45683968.." />
		<add key="ValidAuthenticationTypes" value="basic" />
	</nexus>
</packageSourceCredentials>
</configuration>
