@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Users
@using X.Abp.Account.Localization
@using X.Abp.Account.Public.Web.Pages.Account.Components.ProfileManagementGroup.Password
@inject IHtmlLocalizer<AccountResource> L
@inject ICurrentUser CurrentUser
@model AccountProfilePasswordManagementGroupViewComponent.ChangePasswordInfoModel

<form id="ChangePasswordForm">
    @if (!Model.HideOldPasswordInput)
    {
        <abp-input asp-for="CurrentPassword"/>
    }
    <abp-input asp-for="NewPassword"/>
    <abp-input asp-for="NewPasswordConfirm"/>
    <abp-button type="submit" button-type="Primary" text="@L["Submit"].Value"/>
</form>
