@page
@using Microsoft.Extensions.Localization;
@using X.Abp.TextTemplateManagement.Localization;
@using X.Abp.TextTemplateManagement.Web.Pages.TextTemplateManagement;
@model X.Abp.TextTemplateManagement.Web.Pages.TextTemplateManagement.IndexModel
@inject IStringLocalizer<TextTemplateManagementResource> L

@{
}
<h1>TextTemplateManagement</h1>
<p>@L["SamplePageMessage"]</p>
