@page
@using Microsoft.Extensions.Localization;
@using X.Abp.Notification.Localization;
@using X.Abp.Notification.Web.Pages.Notification;
@model X.Abp.Notification.Web.Pages.Notification.IndexModel
@inject IStringLocalizer<AbpNotificationResource> L

@{
}
<h1>Notification</h1>
<p>@L["SamplePageMessage"]</p>
