@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using MyCompanyName.MyProjectName.ProductService.Localization
@inject IHtmlLocalizer<ProductServiceResource> L
@model MyCompanyName.MyProjectName.ProductService.Web.Pages.Products.EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Products/EditModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Id" />
            <abp-input asp-for="Product.Name"/>
            <abp-input asp-for="Product.Price"/>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
