@inherits LayoutComponentBase
@using Volo.Abp.Ui.Branding
@using Volo.Abp.BlazoriseUI.Components
@using X.Abp.AspNetCore.Components.Web.LeptonTheme.Components.ApplicationLayout.MainHeader
@using X.Abp.AspNetCore.Components.Web.LeptonTheme.Components.ApplicationLayout.MainFooter
@inject IBrandingProvider BrandingProvider
<MainHeader />
<div class="lp-content h-100">
    <PageAlert />
    @Body
    <UiMessageAlert />
    <UiNotificationAlert />
    <UiPageProgress />
</div>
<MainFooterComponent />
