@page
@using System.Net;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Volo.Abp.AspNetCore.Mvc.UI.Layout;
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageSearchBox;
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar;
@using Volo.Abp.IdentityServer.Localization;
@using X.Abp.IdentityServer.Web.Pages.IdentityServer.ApiScopes;
@using X.Abp.IdentityServer.Web.Menus;
@model X.Abp.IdentityServer.Web.Pages.IdentityServer.ApiScopes.IndexModel
@inject IHtmlLocalizer<AbpIdentityServerResource> L
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ApiScopes"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:IdentityServer"].Value);
    PageLayout.Content.MenuItemName = AbpIdentityServerProMenuNames.ApiScopes;
}

@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/client-proxies/identityServer-proxy.js" />
        <abp-script src="/Pages/IdentityServer/ApiScopes/index.js" />
        <abp-script src="/Pages/IdentityServer/ApiScopes/create.js" />
        <abp-script src="/Pages/IdentityServer/ApiScopes/edit.js" />
    </abp-script-bundle>
}

@section content_toolbar {
    @await Component.InvokeAsync(typeof(AbpPageToolbarViewComponent), new {pageName = typeof(IndexModel).FullName})
}


<div id="ApiScopesWrapper">
    <abp-card class="mb-4">
        <abp-card-body>
            <abp-row>
                <abp-column size="_12">
                    @await Component.InvokeAsync(typeof(AbpPageSearchBoxViewComponent))
                </abp-column>
            </abp-row>

        </abp-card-body>
    </abp-card>

    <abp-card>
        <abp-card-body>
            <abp-table striped-rows="true" id="ApiScopesTable" class="nowrap"></abp-table>
        </abp-card-body>
    </abp-card>
</div>

