@page
@using Microsoft.Extensions.Localization;
@using X.Abp.CmsKit.Pro.Admin.Localization;
@using X.Abp.CmsKit.Pro.Admin.Web.Pages.Admin;
@model X.Abp.CmsKit.Pro.Admin.Web.Pages.Admin.IndexModel
@inject IStringLocalizer<AdminResource> L

@{
}
<h1>Admin</h1>
<p>@L["SamplePageMessage"]</p>
