@page
@using Microsoft.Extensions.Localization;
@using X.Abp.VersionManagement.Web.Pages.VersionManagement;
@using X.Abp.VersionManagement.Localization;
@model X.Abp.VersionManagement.Web.Pages.VersionManagement.IndexModel
@inject IStringLocalizer<VersionManagementResource> L

@{
}
<h1>VersionManagement</h1>
<p>@L["SamplePageMessage"]</p>
