@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using X.Abp.Account.Localization;
@model X.Abp.Account.Public.Web.Pages.Account.ForgotPasswordModel
@inject IHtmlLocalizer<AccountResource> L
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ForgotPassword"].Value;
}
@if (!Model.LocalLoginDisabled)
{
    <div class="account-module-form">
        <form method="post">
            <p>@L["SendPasswordResetLink_Information"]</p>
            <abp-input asp-for="Email"/>
            <div class="gap-2 d-grid">
                <abp-button button-type="Primary" type="submit" class="mt-2 mb-3">@L["Submit"]</abp-button>
            </div>
            <a asp-page="./Login" asp-all-route-data="@(new Dictionary<string, string>{ {"returnUrl",Model.ReturnUrl}, {"returnUrlHash",Model.ReturnUrlHash} })">
                <i class="fa fa-long-arrow-left"></i> @L["Login"]
            </a>
        </form>
    </div>
}
