@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using X.Abp.Account.Localization;
@model X.Abp.Account.Public.Web.Pages.Account.ResetPasswordModel
@inject IHtmlLocalizer<AccountResource> L
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ResetPassword"].Value;
}

@if (!Model.LocalLoginDisabled)
{
    <div class="account-module-form">
        <form method="post">
            <p>@L["ResetPassword_Information"]</p>

            <abp-input asp-for="UserId"/>
            <abp-input asp-for="ResetToken"/>
            <abp-input asp-for="Password"/>
            <abp-input asp-for="ConfirmPassword"/>

            <a abp-button="Secondary" asp-page="./Login" asp-route-returnUrl="@Model.NormalizeReturnUrl">@L["Cancel"]</a>
            <abp-button type="submit" button-type="Primary" text="@L["Submit"].Value"/>
        </form>
    </div>
}
