<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="xabp" value="http://localhost:8081/repository/xabp/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <packageSourceCredentials>
        <nexus>
            <add key="Username" value="admin" />
            <add key="ClearTextPassword" value="Lx45683968.." />
            <add key="ValidAuthenticationTypes" value="basic" />
        </nexus>
        <xabp>
            <add key="Username" value="admin" />
            <add key="ClearTextPassword" value="Lx45683968.." />
            <add key="ValidAuthenticationTypes" value="basic" />
        </xabp>
    </packageSourceCredentials>
</configuration>