@page "/VersionManagement"
@using Microsoft.Extensions.Localization
@using global::X.Abp.VersionManagement.Localization
@inject IStringLocalizer<VersionManagementResource> L
@{
}
<h1>VersionManagement</h1>
<p>@L["SamplePageMessage"]</p>