@page "/Pro"
@using Microsoft.Extensions.Localization;
@using global::Volo.Abp.IdentityServer.Localization;
@inject IStringLocalizer<AbpIdentityServerResource> L
@{
}
<h1>Pro</h1>
<p>@L["SamplePageMessage"]</p>
