@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using X.Abp.Saas.Web.Pages.Saas.Tenants;
@model ImpersonateTenantModalModel
@{
    Layout = null;
}

<form method="post" asp-page="/Saas/Tenants/ImpersonateTenantModal" id="impersonateTenantForm">
    <abp-modal>
        <abp-modal-header title="Login with this tenant"></abp-modal-header>
        <abp-modal-body>

            <abp-input type="text" id="tenantUserName" class="form-control ng-untouched ng-pristine ng-valid" asp-for="DefaultAdminUserName" />

        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
