@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using Volo.Abp.ObjectExtending;
@using X.Abp.Saas.Localization;
@using X.Abp.Saas.Web.Pages.Saas.Tenants;
@model SetPasswordModel
@inject IHtmlLocalizer<SaasResource> L
@{
    Layout = null;
}

<form method="post" asp-page="/Saas/Tenants/SetPassword" id="setPasswordForm">
    <abp-modal>
        <abp-modal-header title="@L["SetPassword"].Value - @Model.TenantName"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="ChangePasswordInput.Id" hidden />

            <abp-input type="text" id="AdminName" class="form-control text-danger field-validation-valid" data-valmsg-replace="true" asp-for="ChangePasswordInput.UserName" />

            <abp-input type="password" id="NewPasswordInput" class="form-control cupForm" asp-for="ChangePasswordInput.NewPassword" />

        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
